@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin:0;
    padding:0;    
}

body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fff;
}

.navbar{
    z-index:3;
    max-width: 100%;
    overflow-x: hidden;
    height: 13vh;
    background-color: #575757;
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu-icon{
    height: 100%;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    background: url('../icons/icons8-menu-24.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.name{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 4vw 0 4vw;
    float:left;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 0.2rem;
    border-right:2px solid #d9d9d9;
}

.first-name, .last-name{
    margin: 0 1vw 0 0;
    font-size: 2rem;
    color:#d9d9d9;
    transition: color 1s ease-out;
}

.last-name{
    color:#3EA6C1;
}

.nav-items-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    flex-grow: 100%;
    float:none;
    overflow:hidden;
    z-index: 2;
}

.nav-item{
    font-size:1rem;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    cursor: pointer;
    font-weight: 600;
}

.nav-item:hover{
    color: tomato !important;
}

#about-me{
    color:#3EA6C1;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .name{
        border:none;
    }

    .menu-icon{
        display: flex;
    }

    .nav-items-container{
        position: absolute;
        margin:14vh 0 0 0;
        display: block;
        width:100%;
        opacity: 0;
    }

    .nav-item{
        width:100%;
        height: 10vh;
        background-color:#575757;
        border-bottom: 1px solid #d9d9d9; ;
    }

    .collapse-icon{
        display: flex;
    }
}


/* Portrait and Landscape Ipads */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .name{
        border:none;
    }

    .menu-icon{
        display: flex;
        float:right;
        width:10vw;
    }

    .nav-items-container{
        position: absolute;
        margin:14vh 0 0 0;
        display: block;
        width:100%;
        opacity: 0;
    }

    .nav-item{
        width:100%;
        height: 8vh;
        background-color:#575757;
        border-bottom: 1px solid #d9d9d9;
    }

    .collapse-icon{
        display: flex;
    }
}

/* Portrait  Ipad Pro*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .name{
        border:none;
    }

    .navbar{
        height: 10vh;
    }

    .nav-items-container{
        position: absolute;
        margin:11vh 0 0 0;
        display: block;
        width:100%;
        opacity: 0;
    }

    .nav-item{
        width:100%;
        height: 6vh;
        background-color:#575757;
        border-bottom: 1px solid #d9d9d9;
    }
}
