.technical-skills{
    margin-top:5vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-start;
}

.type{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50vh;
}

.heading{
    font-size:1.8rem;
    font-family: 'Oswald', sans-serif;
    color:#3EA6C1;
    text-decoration:underline;
    margin:2vh 2vw;
}

.item{
    width:20vh;
    height: 20vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin: 3vh 0 3vh 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item-logo{
    height: 15vh;
    width:15vh;
    border-radius: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:1vh;
    background-repeat: no-repeat;
}

.item-name{
    font-size:1.5em;
    font-family: 'Oswald', sans-serif;
    width:100%;
    text-align: center;
    border-bottom:4px solid tomato;
}

/* Portrait and Landscape (Mobile Devices)*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .technical-skills{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.java{
    background-image: url('../icons/icons8-java-96.png');
}

.sql{
    background-image: url('../icons/icons8-database-80.png');
}

.spring-mvc{
    background-image: url('../icons/icons8-spring-logo-96.png');
}

.spring-boot{
    background-image: url('../icons/spring-boot.png');
    background-size: 150px;
}

.html{
    background-image: url('../icons/icons8-html-5-96.png')
}

.css{
    background-image : url('../icons/icons8-css-filetype-80.png')
}

.javascript{
    background-image: url('../icons/icons8-javascript-96.png');
}

.jquery{
    background-image: url('../icons/icons8-jquery-100.png');
}